*~
*.in
*.log
*.o
*.status
.*.swp
*.trs
.deps
.dirstamp
aclocal.m4
autom4te.cache
ar-lib
compile
configure
config.h
depcomp
devcharset
devcharset-*
install-sh
lexer.c
Makefile
missing
parser.h
parser.c
parser_test
stamp-h1
test-driver
ylwrap
